.menuArea {
    position:absolute;
    top:0px;
    left:-400px;
    bottom:0px;
    width:400px;
    height:100%;
    background:rgba(255, 0, 0, 0.5);
    transform:skewX(-10deg);    
}

.menuArea.menuActive {
    animation:menuslideIn 0.5s 1 ease-out;
    left:0px;
}
.menuArea.menuInactive {
    animation:menuslideOut 0.5s 1 ease-out;
    left:-400px;
}

.menuOptions {
    position:absolute;
    top:0px;
    bottom:0px;
    background:rgba(255, 0, 0, 0.5);
}

.menuIcon {
    position:absolute;
    top:5px;
    left:5px;
    width:40px;
    height:20px;
    cursor: pointer;
/*    transition:all 0.5s;*/
}
.menuLine {
    display:block;
    position:absolute;
    width:100%;
    height:2px;
    color:white;
    background-color:white; 
    background-image:url('line.png') no-repeat center fixed;
    background-size: cover;
}

#one.menuLine {
    top:0px;
}
#two.menuLine {
    top:9px;
    opacity: 1;
}
#three.menuLine {
    bottom:0px;
}

/*
.menuIcon.menuActive {
    animation:slideIn 0.5s 1 ease-out;
    left:400px;
}
.menuIcon.menuInactive {
    animation:slideOut 0.5s 1 ease-out;
    left:0px;
}
*/

#one.menuActive {
    animation:tiltClockwise 0.5s 1 ease-out;
    top:9px;
    transform: rotate(45deg);
}
#two.menuActive {
    animation:fadeout 0.5s 1 ease-out;
    opacity: 0;
}
#three.menuActive {
    animation:tiltAnticlockwise 0.5s 1 ease-out;
    bottom:9px;
    transform:rotate(-45deg);
}

#one.menuInactive {
    animation:tiltClockwise 0.5s 1 reverse ease-out;
    top:0px;
}
#two.menuInactive {
    animation:fadeout 0.5s 1 reverse ease-out;
    top:9px;
}
#three.menuInactive {
    animation:tiltAnticlockwise 0.5s 1 reverse ease-out;
    bottom:0px;
}


@keyframes tiltClockwise {
    0% {
        top:0px;
        transform: rotate(0deg);
    }
    100% {
        top:9px;
        transform: rotate(45deg);
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes tiltAnticlockwise {
    0% {
        bottom:0px;
        transform: rotate(0deg);
    }
    100% {
        bottom:9px;
        transform: rotate(-45deg);
    }
}

@keyframes slideIn{
    0% {
        left:0px;
    }
    100% {
        left:400px;
    }
}
@keyframes slideOut{
    0% {
        left:400px;
    }
    100% {
        left:0px;
    }
}
@keyframes menuslideOut{
    0% {
        left:0px;
    }
    100% {
        left:-400px;
    }
}
@keyframes menuslideIn{
    0% {
        left:-400px;
    }
    100% {
        left:0px;
    }
}
