@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

* {
    box-sizing: border-box;
}

html {
    background: url('background.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;
}

.overlay {
    position:relative;
    top:250px;
    margin-left:20%;
    margin-right: 20%; 
    height: 150px;
    background: rgba(0, 0, 0, 0);
}

.textArea {
    position:relative;
    height: 75px;
    line-height: 75px;
    text-align: center;
    color:white;
    font-family: Raleway;
    font-size: 25px;
}

.selectionArea {
    position: relative;
    height:50px;
}

.selectCity {
    width:23%;
    height:100%;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 15px;
    padding-left:10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color:dimgrey;
    cursor: pointer;
    margin-left: 3px;
    border:0px;
}

.selectArea {
    width:60%;
    height:100%;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 15px;
    padding-left:10px;
    border:0px;
}

#submit {
    width:15%;
    height:100%;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 15px;
    padding-left:10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    background-color:indigo;
    border-color: indigo;
    color:white;
    box-shadow: 0;
    transition:background-color 0.1s ease-in;
}

option:hover{
    background-color:aquamarine;
}

#submit:hover {
    background-color: #FFFF1A;
    border:#FFFF1A;
    color: black;
}

#submit:focus {
    border:none;
}

select option:checked:after {
/*    content: attr(title);*/
    background: #666;
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    border: none;
}

.pac-item {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 15px;
}

.pac-icon, .pac-icon-marker {
    content: url('pin.png');
    padding-left: 5px;
    width: 25px;
    background-image: none;
}

::selection {
    background-color:indigo;
    color: white;
}
/*
select:hover > option:hover {
    background-color: #FFFF1A;
}*/
