@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

* {
    box-sizing: border-box;
}

html {
    background: url(http://cdn.johnywheels.com/2016/05/14/indianfood-l-bcce5d6ec09bae3b.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;
}

.overlay {
    position:relative;
    top:250px;
    margin-left:25%;
    margin-right: 25%; 
    height: 150px;
    background: rgba(0, 0, 0, 0.5);
}

.textArea {
    position:relative;
    top:10px;
    align-self: center;
    align-content: center;
    margin-left: 100px;
    height: 150px;
    color:white;
    font-family: Raleway;
    font-size: 25px;
}

.actual {
    position: relative;
    top:25px;
    height:50px;
}

.selectCity {
    width:25%;
    height:100%;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 15px;
    padding-left:10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color:dimgrey;
    cursor: pointer;
    margin-left: 3px;
}

.selectArea {
    width:50%;
    height:100%;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 15px;
    padding-left:10px;
}

#submit {
    width:23%;
    height:100%;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 15px;
    padding-left:10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    background-color:indigo;
    border-color: indigo;
    color:white;
    box-shadow: 0;
    transition:background-color 0.2s ease-in;
}

option:hover{
    background-color:aquamarine;
}

#submit:hover {
    background-color: #FFFF1A;
    border:#FFFF1A;
    color: black;
}

#submit:click {
    border:none;
}

select option:checked:after {
/*    content: attr(title);*/
    background: #666;
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    border: none;
}

/*
select:hover > option:hover {
    background-color: #FFFF1A;
}*/
