div#contact{
  position:absolute;
  left:400%;
  width:100%;
  height:100%;
  background-color: RGBA(0,0,0,0.9);
  transition: left 1s ease-in;
}

.contactInfo{
  position:absolute;
  left:calc(50% - 150px);
  width:300px;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 1vw;
  padding-left:3px;
  border:1px solid ghostwhite;
  color:ghostwhite;
  background-color: RGBA(0,0,0,0);
}
input#name{
  top:25%;
  height:40px;
}
input#email{
  top:calc(25% + 75px);
  height:40px;
}
textarea#query{
  top:calc(25% + 150px);
  height:100px;
}

div#contactSubmit{
  position:absolute;
  top:calc(25% + 300px);
  left:calc(50% - 50px);
  width:100px;
  height:40px;
  cursor:pointer;
  overflow: hidden;
}
input#submit{
  position:absolute;
  left:0%;
  width:100px;
  height:40px;
  cursor: pointer;
  font-size: 1.2vw;
}
span#contactSubmitOverlay{
  position:absolute;
  background-color:ghostwhite;
  left:-110%;
  width:90px;
  height:40px;
  transform:skewX(-20deg);
  transition:left 0.2s;
}

div#contactSubmit:hover > span#contactSubmitOverlay{
  left:5%;
}
div#contactSubmit:hover > input#submit{
  color:black;
}

::-webkit-input-placeholder {
  padding-left: 5px;
   color: ghostwhite;
   font-weight: 200;
   font-size:1vw;
}
input:focus {
    outline: none !important;
    border-color: ghostwhite;
}
textarea:focus {
    outline: none !important;
    border-color: ghostwhite;
}

div#fb{
  position:absolute;
  width: 30px;
  height:30px;
  top:10%;
  left:calc(50% - 15px - 30px - 5%);
  cursor: pointer;
  overflow: hidden;
}

span#fbBlank{
  background: url('fb_blank.png') no-repeat center center;
  background-size: cover;
  position:absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  display:block;
  transition:top 0.1s;
}
span#fbFilled{
  background: url('fb_filled.png') no-repeat center center;
  background-size: cover;
  position:absolute;
  top:100%;
  left:0%;
  width:100%;
  height:100%;
  display:block;
  transition:top 0.1s;
}

div#fb:hover > span#fbBlank{
  top:0%;
}
div#fb:hover > span#fbFilled{
  top:0%;
  border-radius:3px;
}


div#twitter{
  position:absolute;
  width: 30px;
  height:30px;
  top:10%;
  left:calc(50% - 15px);
  cursor: pointer;
  overflow: hidden;
}

span#twBlank{
  background: url('tw_blank.png') no-repeat center center;
  background-size: cover;
  position:absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  display:block;
  transition:top 0.1s;
}
span#twFilled{
  background: url('tw_filled.png') no-repeat center center;
  background-size: cover;
  position:absolute;
  top:100%;
  left:0%;
  width:100%;
  height:100%;
  display:block;
  transition:top 0.1s;
}

div#twitter:hover > span#twBlank{
  top:0%;
}
div#twitter:hover > span#twFilled{
  top:0%;
}



div#linkedIn{
  position:absolute;
  width: 30px;
  height:30px;
  top:10%;
  left:calc(50% + 15px + 5%);
  cursor: pointer;
  overflow: hidden;
}

span#liBlank{
  background: url('li_blank.png') no-repeat center center;
  background-size: cover;
  position:absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  display:block;
  transition:top 0.1s;
}
span#liFilled{
  background: url('li_filled.jpg') no-repeat center center;
  background-size: cover;
  position:absolute;
  top:100%;
  left:0%;
  width:100%;
  height:100%;
  display:block;
  transition:top 0.1s;
}

div#linkedIn:hover > span#liBlank{
  top:0%;
}
div#linkedIn:hover > span#liFilled{
  top:0%;
  border-radius:5px;
}
