div#workxp{
  position:absolute;
  padding-top:5%;
  left:300%;
  width:100%;
  height:100%;
  align-content: center;
  text-align: center;
  vertical-align: top;
  color:ghostwhite;
  transition:left 0.5s ease-in-out;
  background-color: RGBA(0,0,0,0.9);
  z-index:20;
  font-weight: 600;
}
